# Laravel
readme.md
/bootstrap/compiled.php
/vendor

# Configuration
/app/config/local
/app/config/staging
/app/config/production

# Cache
/app/storage/cache/*

# Composer
composer.phar
composer.lock

# OS
.project

.htaccess
